/* layout */
* {margin: 0; padding: 0;}
main {background-color: #EAEDED;}
#header {
    background-color: black; 
    height: 100px; width: 100%;
}
#footer {
    background-color: black; 
    height: 100px; 
    width: 100%;
}

/* container */
.container {
    width: 1480px; 
    margin: 0 auto;
}

/* banner */
#content .banner .container .banner-img {
    width: 1480px;
    height: 600px;
    margin-left: 10px;
}

/* card */
.article-card {
    width: 1500px;
}
.article-card .card {
    height: 420px;
    width: 355px;
    background-color: white;
    margin: 10px 10px;
    float: left;
}
.article-card .card-col5 {
    width: 730px;
}
.article-card .card .card-body .card-content img{
    width: 350px;
}
.article-card .card .card-body .content-size-x2 img{
    width: 600px;
}
.clear {
    clear: both;
}

/* scroll-carousel */
.article-scroll-carousel {
    overflow: hidden;
    width: 1480px;
    margin: 10px;
    background-color: white;
}

.article-scroll-carousel .scroll-carousel-img {
    height: 200px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space:nowrap;
}


.article-scroll-carousel .scroll-carousel-img img {
    width: 200px;
    height: 100%;
    margin-right: 10px;
}

/* hr */
.flow-row-break {
    border: none;
    height: 20px;
}